.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    width: 98%;
}

@media only screen and (max-width: 840px) {
    .header {
        width: 100%;
    }
  }
