.spirits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2rem;
}


  @media only screen and (max-width: 670px) {
    .spirits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.2rem;
        justify-content: center;
        align-self: center;
        margin-top: 2rem;
    }

    button {
        height: 3rem;
        min-width: 2rem;
        margin-right: 0.5rem;
        box-shadow: var(--box-shadow);
        border: 0;
        border-radius: 5%;
        background-color: white;
      }
  }